@model IEnumerable<ProySpaHelena.Models.Servicio>

@{
    ViewData["Title"] = "IndexServicio";
}

<h1>IndexServicio</h1>

@if (TempData["mensaje"] != null)
{
    <div class="alert alert-succes">@TempData["mensaje"]</div>
}

<p>
    <a asp-action="CreateServ">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditServicios", new {  id=item.Id }) |
                @Html.ActionLink("ver", "DetailsServ", new {  id=item.Id }) |
                @Html.ActionLink("Dar de baja", "DeleteServicio", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
